<div class="container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Flight Chat</h1>
  </mat-toolbar>

  <!-- This margintop is so that the navbar is not overlapping in mobile mode -->
  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sidenav [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

      <mat-nav-list>
        <h3 matSubheader>Your Flights</h3>
        <a mat-list-item routerLink="." (click)="sidenav.close()" *ngFor="let flight of flights" [routerLink]="['/flight', flight.flightId]" >
          <i class="material-icons">
            flight_takeoff
          </i>
          Flight {{flight.flightId}}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

