<mat-list>
  <mat-spinner *ngIf="commentsLoading"></mat-spinner>
  <div *ngFor="let comment of comments">
    <mat-card class="comment-card">
      <mat-card-header class="card-header">
        <mat-card-title class="card-title">User {{comment.userId}}</mat-card-title>
        <mat-card-subtitle>
          Comment ID: {{comment._id}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{comment.comment}}
        <div class="card-footer">
          <div *ngIf="comment.tags.length !== 0">
            <ng-container *ngFor="let tag of comment.tags">
              #{{tag}}
            </ng-container>
            <br/>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
  </div>
</mat-list>
